element.style {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
}
* {
   
    box-sizing: border-box;
}
body {
    font-weight: bolder;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}